@page {
    padding: 0.5cm 0.5cm 0 0.5cm;
    margin: 0;
    size: 210mm 210mm;
}

* {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: "Open Sans", serif;
    text-align: center;
    font-size: 14px;
}

.w-100 {
    width: 100%;
}

.p-0 {
    padding: 0;
}

.p-8 {
    padding: 8px;
}

.p-10 {
    padding: 10px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

td {
    padding: 5px 10px;
    font-size: 14px;
}

b {
    font-weight: bold;
}

.day-box {
    padding: 3px;
}

.warning-box {
    color: #A81C1C;
    font-weight: bold;
    font-size: 11px;
    font-style: italic;
    line-height: 12px;
}

.bordered-table, .bordered-table td {
    border-collapse: collapse;
    border: solid 2px #000;
}

.not-bordered-table, .not-bordered-table td {
    border: none;
}

.bus-line-cell {
    width: 35%;
}

.bus-line-name {
    font-style: normal;
    font-size: 80px;
    font-weight: bold;
}

.company-logo {
    width: 1.75cm;
}

.day-name__name {
    font-size: 14px;
    font-weight: bold;
}

.day-name__subtext {
    font-size: 13px;
    font-weight: normal;
}

.company-name {
    text-transform: uppercase;
    font-weight: bold;
}

.company-address {
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
}

.bus-stop-name {
    font-weight: bold;
}

.tarbus-qr-code {
    height: 2cm;
    width: 2cm;
}

.departure-box {
    margin: 8px;
    width: 80px;
}

.departure-box, .departure-box span {
    font-size: 16px;
}

.departures-box {
    min-height: 70px;
}

.symbol-box, .symbol-box span {
    font-size: 10px;
}

.departure-box, .symbol-box {
    font-weight: bold;
}

.destinations-box, .destinations-box span, .destinations-box p{
    font-size: 12px;
    line-height: 13px;
}

.footer, .footer span, .footer td {
    font-size: 12px;
}
